---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Methodology from "../components/Methodology.astro";
import Portfolio from "../components/Portfolio.astro";
import TechStack from "../components/TechStack.astro";
import Testimonials from "../components/Testimonials.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="NexoDevStudio | Soluciones Digitales">
    <Navbar />
    <main>
        <Hero />
        <Methodology />
        <Portfolio />
        <TechStack />
        <Testimonials />
        <Contact />
    </main>
    <Footer />
</Layout>
