---
---
<footer class="bg-surface/50 backdrop-blur-sm border-t border-outline-variant/10 w-full py-16">
    <div class="flex flex-col md:flex-row justify-between items-center px-margin-mobile md:px-margin-desktop gap-12 max-w-container-max mx-auto">
        <div class="font-headline-md text-headline-md text-primary font-bold">
            NexoDevStudio
        </div>
        <div class="flex gap-12">
            <a class="text-on-surface-variant hover:text-primary-fixed transition-colors font-label-mono text-label-mono tracking-widest" href="#">LINKEDIN</a>
            <a class="text-on-surface-variant hover:text-primary-fixed transition-colors font-label-mono text-label-mono tracking-widest" href="#">INSTAGRAM</a>
            <a class="text-on-surface-variant hover:text-primary-fixed transition-colors font-label-mono text-label-mono tracking-widest" href="#">X</a>
        </div>
        <div class="text-on-surface-variant font-label-mono text-label-mono text-center md:text-right opacity-60 uppercase">
            © 2024 NexoDevStudio. Innovando juntos desde el día uno.
        </div>
    </div>
</footer>